@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar-thumb {
  background: #888;
} */

@layer components {
  .mediaControls {
    @apply h-5 w-5 hover:scale-125 transition transform duration-100 ease-out cursor-pointer;
  }
}
